

.promo__img {
    width: 125px;
    height: 110px;
    padding: 10px;
    display: inline-block;
    
}

.promo__mc {
    text-align: center;
    width: auto;
}

.promo__container {
    margin: auto;
    border-bottom: 6px solid #103c7f;
    border-top: 6px solid #103c7f; 
}