* {
  box-sizing: border-box;
  
}

.box, .product__tot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__each {
  background-color: rgb(233, 233, 233);
  
}

.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

legend {
  background-color: white;
  font-size: 20px;
  font-family: 'Staatliches';
}

fieldset {
  background-color: rgb(221, 19, 19);
}

.row {  
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}




