

.auto__input[type=text]{
  width: 55px;
  border: 5px solid rgb(62, 66, 80);
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

legend {
  color: white;
  font-family: 'Mukta';
  font-weight: bold;
  font-size: 29px;
}

label {
  display: inline-block;
  width: 125px;
}

.auto__row {
  content: flex;
}

.auto__input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.upload__container {
  display: justify;
}

.auto__container, h3, .upload__container {
  content: justify;
  border-radius: 5px;
  background-color: rgb(62, 66, 80);
  padding: 10px;
  width: 375px;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: .25%;
  color: white;
}

.auto__col25 {
  background-color: rgb(62, 66, 80);
  float: left;
  width: 40%;
  margin-top: 1px;
}

.auto__col75 {
  background-color:  rgb(62, 66, 80);
  float: left;
  width: 40%;
  margin-top: 1px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .auto__col25, .auto__col75, .auto__input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}