* {
    box-sizing: border-box;
  }
  
  .request__row:after {
    content: "";
    display: table;
    clear: both;
  }

  .request__main {
    border-top: 6px solid #ad0000;
    text-align: center;
    margin-top: 5%;
  }
  
  .request__form {
    display: inline-block;
    margin: auto;
    width: 250px;
  }

  .request__container {
    display: inline-flex;
    text-align: center;
    border-radius: 1px;
    background-color: #103c7f;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    color: white;
    border: 4px solid #989caf;
    border-style: groove;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  
  input.input__requ9est[type=text], textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    resize: vertical;
  }
  
  input.request__input[type="text"],[type="email"], textarea {
    padding: 5px 21px;
    border-radius: 2px;
    cursor: pointer;
    float: inherit;
    resize: vertical;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .request__label {
    padding: 0px 10px 10px 0;
    display: center;
  }
  
  .request__input {
    display: flex;
  }
  
  @media screen and (max-width: 600px) {
    .request__container,
    .request__input, textarea {
      
      margin: 5px 15px 5px 15px;
    }
    
    .request__label {
      text-align: center;
      padding: 0px 30px 0px 0px;
      
    }
    
    .request__row {
      text-align: center;
    }
    
    .request__container {
      margin-top: 10%;
      margin-bottom:10%;
    }

  }
  