body {
  background-color: rgba(195, 207, 224, 0.774);
}

.layout__container {
  content: right;
  text-align: justify;
  padding: auto;
}

#product__application tr:nth-child(even) {
  background-color: #f2f2f2;
}

#product__application td,
#product__application th {
  border: 1px solid #ddd;
  padding: 2px;
}

.layout__article {
    column-count: 3;
}

table {
  
  margin-left: auto; 
  margin-right: auto;
}

#product__application th {
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  background-color: rgb(62, 66, 80);
  color: white;
}

.responsive-image_img {
  background-repeat: no-repeat;
  background-size: auto;
  
}
