@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.nav__header {
  display: justify, flex;
}

.nav__brand {
  text-align: center;
  font-size: 50px;
  font-family: 'Staatliches';
}

.nav__main {
  font-family: "Jost";
  display: flex;
  padding: 0;
  margin: 0;
  background: ghostwhite;
}

.nav__div {
  margin: 0;
  padding: 0;
  background: ghostwhite;
}

.nav__home {
  margin: 0.4%;
  padding: 1%;
  background: ghostwhite;
  color: black;
}
.nav__form {
  margin: 0.4%;
  padding: 1%;
  background: ghostwhite;
  color: black;
}

.nav__form:hover {
  background-color:  rgba(195, 207, 224, 0.774);
  border-radius: 50%;
}

.nav__request {
  margin: 0.4%;
  padding: 1%;
  background: ghostwhite;
  color: black;
}

.nav__request:hover {
  background-color: rgba(195, 207, 224, 0.774);
  border-radius: 50%;
}
.nav__payment {
  margin: 0.4%;
  padding: 1%;
  background: ghostwhite;
  color: black;
}

.nav__payment:hover {
  background-color:  rgba(195, 207, 224, 0.774);
  border-radius: 50%;
}

.nav__home:hover {
  background-color:  rgba(195, 207, 224, 0.774);
  border-radius: 50%;
}
