@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

.nav__header {
  width: 100%;
  padding: auto;
}

.allied__logo {
  display: flex;
  float: left;
  width: 5%;
  height: 5%;
  margin-left: 10%;
  
}

.nav__title {
  text-align: center;
  font-size: calc(100% + 0.1vmin);
  font-family: "Staatliches";
  background-color: #111e56;
  color: ghostwhite;
  padding-right: 17%;
}

.nav__brand {
  text-align: center;
  font-size: calc(100% + 2vmin);
  font-family: "Staatliches";
  color: #111e56;
 
  
}

.nav__main {
  border: 5px solid #103c7f;
  font-family: "Jost";
  display: flex;
  padding: 0;
  margin-bottom: 1%;
  background-color: #103c7f;
  color: ghostwhite;
}

.nav__div {
  margin: 0;
  padding: 0;
  background: ghostwhite;
  position: sticky;
}

.nav__home {
  margin: 0.4%;
  padding: 1%;
  background: #103c7f;
  color: ghostwhite;
}
.nav__form {
  margin: 0.4%;
  padding: 1%;
  background: #103c7f;
  color: ghostwhite;
}

.nav__form:hover {
  background-color: rgba(195, 207, 224, 0.774);
  border-radius: 50%;
}

.nav__request {
  margin: 0.4%;
  padding: 1%;
  background: #103c7f;
  color: ghostwhite;
}

.nav__request:hover {
  background-color: rgba(195, 207, 224, 0.774);
  border-radius: 50%;
}
.nav__payment {
  margin: 0.4%;
  padding: 1%;
  background: #103c7f;
  color: ghostwhite;
}

.nav__payment:hover {
  background-color: rgba(195, 207, 224, 0.774);
  border-radius: 50%;
}

.nav__home:hover {
  background-color: rgba(195, 207, 224, 0.774);
  border-radius: 50%;
}
