

.pc__container {
    background-color: rgb(127, 186, 245);
    border: 6px solid #ad0000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(3px + 2vmin);
    color: white;
}

fieldset {
    border-width: 10px ;
    border-color: #ad0000;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: .25%;
    position: center;
}


legend {
    color: #ffff;
    font-size: calc(11px + 2vmin);
}

.auto__main {
    content: center;
    border-radius: 2px;
    background-color: #103c7f;
    border: 8px solid #ad0000;
    padding: 1%;
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: .25%;
    color: white;
}

button {
    display: justify;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.pc__total {
    content: center;
    
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: calc(7px + 1.5vmin);
}

.pc__col25 {
    float: center;
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1%;
}

.pc__col75 {
    float: center;
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1%;
}

input.pc__input {
    float: center;
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1%;
}

label {
    float: center;
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1%;
}

.pc__row {
    content: justify;
    width: 75%;
    width: auto;
    height: auto;
    color: white;
}

form {
    column-count: 2;
    display: center;
}