

.auto__main {
    content: justify;
    border-radius: 2px;
    background-color: #103c7f;
    border: 6px solid #ad0000;
    padding: 10px;
    width: 375px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: .25%;
    color: white;
}

